* {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.product-page {
    margin-top: 4rem;
    padding-top: 3rem;
    background-color: #e6e6e6;
}

.products-intro-container {
    background-color: #e6e6e6;
    max-width: 80%;
    margin: 1rem auto;
    box-shadow: 4px 6px 25px #2c3e50;
    padding: 3rem 1rem;
    border: 1.5px solid darkblue;
}

.products-intro-container span {
    font-size: 1.2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
}
.product-item-header {
    position: relative;
}

.product-header-text {
    color: #FFF;
    font-size: 5rem;
    margin: 0;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.product-header-text-keyboard {
    -webkit-animation: glow-red 1s ease-in-out infinite alternate;
    -moz-animation: glow-red 1s ease-in-out infinite alternate;
    animation: glow-red 1s ease-in-out infinite alternate;
}
.product-header-text-hp {
    -webkit-animation: glow-green 1s ease-in-out infinite alternate;
    -moz-animation: glow-green 1s ease-in-out infinite alternate;
    animation: glow-green 1s ease-in-out infinite alternate;
}

.product-header-img {
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 207 ,0.52), rgba(30, 16, 27, 0.73)),
            url(../assets/mousewallpaper.jpg);
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 40rem;
    max-height: 40rem;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #0800e6, 0 0 30px #0800e6, 0 0 40px #020572, 0 0 50px #0800e6, 0 0 60px #0800e6, 0 0 70px #0800e6;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #0800e6, 0 0 40px #0800e6, 0 0 50px #0800e6, 0 0 60px #0800e6, 0 0 70px #0800e6, 0 0 80px #0800e6;
    }
}

@-webkit-keyframes glow-red {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f92a46, 0 0 40px #a30319, 0 0 50px #f92a46, 0 0 60px #A30319, 0 0 70px #A30319;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f92a46, 0 0 50px #f92a46, 0 0 60px #f92a46, 0 0 70px #A30319, 0 0 80px #A30319;
    }
}

@-webkit-keyframes glow-green {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #79f92a, 0 0 40px #79f92a, 0 0 50px #79f92a, 0 0 60px #2d7104, 0 0 70px #2d7104;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #79f92a, 0 0 50px #79f92a, 0 0 60px #79f92a, 0 0 70px #2d7104, 0 0 80px #2d7104;
    }
}

.product-header-img-keyboard {
    background-image:
            linear-gradient(to bottom, rgba(252, 5, 5, 0.52), rgba(30, 16, 27, 0.73)),
            url('../assets/keyboardwallpaper.jpg');
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 40rem;
    max-height: 40rem;
}

.product-header-img-headphone {
    background-image:
            linear-gradient(to bottom, rgba(7, 142, 5, 0.5), rgba(30, 16, 27, 0.73)),
            url('../assets/headphonewallpaper.jpg');
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 32rem;
    max-height: 32rem;
}

.product-header-img-access {
    background-image:
            linear-gradient(to bottom, rgba(2, 2, 134, 0.52), rgba(30, 16, 27, 0.73)),
            url('../assets/pcaccess.jpg');
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 50rem;
    max-height: 50rem;
}


.product-item-list {
    position: absolute;
    top: 2rem;
    color: #FFF;
    right: 8%;
    font-weight: bold;
}
.product-item-list-hp {
    top: 2rem;
}
.product-item-list li {
    font-size: 1.2rem;
    word-spacing: 0.2rem;
}
.product-mouse {
    position: relative;
}
.product-accessories {
    position: relative;
}

.product-item-list ul {
    list-style: none;
}

.product-keyboard {
    position: relative;
}

.product-headphone {
    position: relative;
}
.product-header-text-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .product-header-text {
        display: none;
    }
    .product-header-text-mobile {
        display: block;
    }
    .product-item-list {
        width: 100%;
        text-align: center;
        top: 1.5rem;
        right: 0;
    }
    .product-header-img,
    .product-header-img-keyboard {
        height: 48rem;
        max-height: 48rem;
    }
}
