* {
  margin: 0;
  padding: 0;
}

.parent {
  background-image: linear-gradient(to right, #0d0465, #832cbe, #ec38bc, #9f26f1);
  width: 100vw;
  height: 100vh;
}

.intro-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.intro-container img {
  border: 1.5px solid #FFF;
  width: 600px;
  background-color: #ffffff2e;
}
