* {
  margin: 0;
  padding: 0;
}

.parent {
  background-image: linear-gradient(to right, #0d0465, #7303c0, #ec38bc, #fdeff9);
  width: 100vw;
  height: 100vh;
}

.intro-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.intro-container img {
  width: 600px;
  background-color: #ffffff59;
}
